@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 20px;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

input {
  @apply w-full placeholder:text-neutral-3 rounded-[8px] h-[48px] text-black focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent bg-white text-[1rem] placeholder:text-[0.9rem] leading-[1rem] font-nunito px-4  border border-[#DFDFDF];
}

select {
  @apply focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent;
}

.text-body {
  @apply text-[1rem] leading-[1rem];
}

.text-header {
  @apply text-[1.5rem] leading-[2rem];
}

.text-subtitle {
  @apply text-[1.2rem] leading-[1.5rem];
}

.text-title {
  @apply text-[2.5rem] leading-[2.5rem];
}

.text-hint {
  @apply text-[0.9rem] leading-[1rem];
}

.text-small {
  @apply text-[1rem] leading-[0.9rem];
}

.text-extra {
  @apply text-[4rem] leading-[6rem];
}

::selection {
  @apply bg-primary text-white;
}

::-moz-selection {
  @apply bg-primary text-white;
}
